################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/UniaoSantaBoa.slnx/FileContentIndex/4be1e9e8-49ae-4e16-9e5d-f8c10e88c41d.vsidx
/.vs/UniaoSantaBoa.slnx/FileContentIndex/5561880e-b5cc-4ac8-ab17-225484d50ab3.vsidx
/.vs/UniaoSantaBoa.slnx/FileContentIndex/ea5bd122-4a18-4127-af2f-e9a25c8c2a5f.vsidx
/.vs/UniaoSantaBoa.slnx/v18/.wsuo
/.vs/UniaoSantaBoa.slnx/v18/DocumentLayout.backup.json
/.vs/UniaoSantaBoa.slnx/v18/DocumentLayout.json
